body{
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/bkgrnd.jpg");
    background-color: #cccccc;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: 70px;
    font-style: bold;
    margin: 0px;
}
h2 {
    font-weight: lighter;
    font-size: 25px;
    margin: 0px;
}
h2red {
    color: red;
}
header{
    padding-left: 20px;
    padding-top: 30px;
}

.btns{
    padding-left: 20px;
}
ul{
    list-style-type: none; 
    padding: 0px; 
}
.btns li{
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
    border-radius: 26px;
    display: inline-block;
    flex: content;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}
.btns .cv{
    border: grey;
    border-style: solid;
    background-color: transparent;
    color:  white;
}

.socialnetworks{
    padding-left: 20px;
    margin-bottom: 60px;
}

.socialnetworks li{
    display: inline-block;
    margin-left: 10px;
}

.aboutme ul{
    padding-left: 20px;
}
.aboutme li{
    display: inline-block;
    vertical-align: middle;
}
.aboutme .content{
    float: left;
    position:absolute;
    height:500px;
    width:80%;
}
p{
    font-size: 30px;
    margin-left: 20px;
}
p.test {
-moz-hyphens:auto;
-ms-hyphens:auto;
-webkit-hyphens:auto;
hyphens:auto;
word-wrap:break-word;
}